header {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px rgb(235, 235, 235);
}

header h2 {
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
}

.add-counter {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-counter {
  height: 20vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.if-counter {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-evenly;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px rgb(235, 235, 235);
}

.counter {
  display: flex;
  gap: 10px;
}
